    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(251, 250, 250);
        margin: 0%;
        width: 100%;
        display: block;
        font-size: 16px;
        background-color: rgb(243, 133, 153);
    }
    
    header {
        height: 5%;
    }
    
    h1,
    h3 {
        text-align: center;
        font-weight: bolder;
    }
    
    span {
        color: #E5ADB7;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        font-size: 40px;
    }
    
    .icon {
        width: 3em;
        margin: 0;
        padding: 0;
        transform: rotate(90);
        filter: invert(30%);
        filter: brightness(90%);
    }
    
    .navbar {
        overflow: hidden;
        background: linear-gradient(230deg, rgb(243, 133, 153), #E5E5E5);
        font-family: Arial;
    }
    
    .navbar a {
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 12px 12px;
        text-decoration: none;
    }
    
    .dropdown {
        overflow: hidden;
    }
    
    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 10px 10px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    
    .navbar a:hover,
    .dropdown:hover .dropbtn {
        background-color: rgb(208, 42, 153);
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        float: none;
        color: rgb(208, 42, 153);
        padding: 14px 14px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 16px;
        font-weight: 900;
    }
    
    .dropdown-content a:hover {
        background-color: white;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    nav:link,
    a:link {
        text-decoration: none;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    p>a:link {
        text-transform: lowercase;
    }
    
    a:visited {
        background-color: rgb(170, 166, 166);
        color: rgb(130, 26, 95);
    }
    
    .exercise {
        display: block;
        text-align: center;
    }
    
    img {
        width: 100%;
    }
    
    ul {
        display: block;
        list-style-type: none;
        margin: 10px;
        padding: 20px;
        color: #472a67;
        border: dashed 2px white;
        text-align: left;
    }
    
    li {
        display: block;
        color: white;
        padding: 10px;
        text-align: center;
        list-style-type: circle;
    }
    
    .icon {
        width: 3em;
        margin: 0;
        padding: 0;
    }
    
    div {
        padding: 10px;
    }